/* montserrat-100normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Montserrat Thin '),
    local('Montserrat-Thin'),
    url(assets/montserrat-latin-100.4124805c.woff2) format('woff2'), 
    url(assets/montserrat-latin-100.c8fb2f71.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-100italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Montserrat Thin italic'),
    local('Montserrat-Thinitalic'),
    url(assets/montserrat-latin-100italic.e4bf47bd.woff2) format('woff2'), 
    url(assets/montserrat-latin-100italic.d1f3f2d0.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-200normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Montserrat Extra Light '),
    local('Montserrat-Extra Light'),
    url(assets/montserrat-latin-200.444ae007.woff2) format('woff2'), 
    url(assets/montserrat-latin-200.edbce16a.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-200italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Montserrat Extra Light italic'),
    local('Montserrat-Extra Lightitalic'),
    url(assets/montserrat-latin-200italic.f316c5d1.woff2) format('woff2'), 
    url(assets/montserrat-latin-200italic.d7bbb730.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-300normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Montserrat Light '),
    local('Montserrat-Light'),
    url(assets/montserrat-latin-300.0a7c6df0.woff2) format('woff2'), 
    url(assets/montserrat-latin-300.5e86df2c.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Montserrat Light italic'),
    local('Montserrat-Lightitalic'),
    url(assets/montserrat-latin-300italic.c076c489.woff2) format('woff2'), 
    url(assets/montserrat-latin-300italic.37c74a8d.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-400normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Montserrat Regular '),
    local('Montserrat-Regular'),
    url(assets/montserrat-latin-400.501ce09c.woff2) format('woff2'), 
    url(assets/montserrat-latin-400.f29d2b85.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-400italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Montserrat Regular italic'),
    local('Montserrat-Regularitalic'),
    url(assets/montserrat-latin-400italic.882908d9.woff2) format('woff2'), 
    url(assets/montserrat-latin-400italic.22e7b04e.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-500normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Montserrat Medium '),
    local('Montserrat-Medium'),
    url(assets/montserrat-latin-500.f0f2716c.woff2) format('woff2'), 
    url(assets/montserrat-latin-500.991b453b.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Montserrat Medium italic'),
    local('Montserrat-Mediumitalic'),
    url(assets/montserrat-latin-500italic.4590ebba.woff2) format('woff2'), 
    url(assets/montserrat-latin-500italic.f3d41e4c.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-600normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Montserrat SemiBold '),
    local('Montserrat-SemiBold'),
    url(assets/montserrat-latin-600.15c24f71.woff2) format('woff2'), 
    url(assets/montserrat-latin-600.f6dc6096.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Montserrat SemiBold italic'),
    local('Montserrat-SemiBolditalic'),
    url(assets/montserrat-latin-600italic.6d10b805.woff2) format('woff2'), 
    url(assets/montserrat-latin-600italic.02c48333.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-700normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Montserrat Bold '),
    local('Montserrat-Bold'),
    url(assets/montserrat-latin-700.79982cd1.woff2) format('woff2'), 
    url(assets/montserrat-latin-700.957e93fb.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Montserrat Bold italic'),
    local('Montserrat-Bolditalic'),
    url(assets/montserrat-latin-700italic.283438e9.woff2) format('woff2'), 
    url(assets/montserrat-latin-700italic.ca627c5c.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-800normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Montserrat ExtraBold '),
    local('Montserrat-ExtraBold'),
    url(assets/montserrat-latin-800.35386154.woff2) format('woff2'), 
    url(assets/montserrat-latin-800.75665590.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Montserrat ExtraBold italic'),
    local('Montserrat-ExtraBolditalic'),
    url(assets/montserrat-latin-800italic.e1b52a7b.woff2) format('woff2'), 
    url(assets/montserrat-latin-800italic.a69f0add.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-900normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Montserrat Black '),
    local('Montserrat-Black'),
    url(assets/montserrat-latin-900.260c2ea3.woff2) format('woff2'), 
    url(assets/montserrat-latin-900.186cae80.woff) format('woff'); /* Modern Browsers */
}

/* montserrat-900italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Montserrat Black italic'),
    local('Montserrat-Blackitalic'),
    url(assets/montserrat-latin-900italic.d785fb9f.woff2) format('woff2'), 
    url(assets/montserrat-latin-900italic.43b527fe.woff) format('woff'); /* Modern Browsers */
}


